html {
  font-size: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: $font-xlarge;
  color: #ffffff;
  font-weight: 200;
  padding: 0px;
  margin: 0px;

  @media (max-width: 769px) {
    font-size: 48px;
    font-weight: 300;
    width: 70%;
  }
}

.flavourText {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: $font-medium;
  color: #ffffff;
  padding-top: 2rem;

  @media (max-width: 769px) {
    font-size: 24px;
    font-weight: 300;
    width: 11.75rem;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}

h2 {
  font-size: $font-large;
  font-family: "Oswald", sans-serif;

  @media (max-width: 769px) {
    font-size: 3rem;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.465rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  margin: 0px;
}

button {
  font-family: "Oswald", sans-serif;
}

.padding {
  &--all {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
  &--x {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.banner {
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/pexels-nao-triponez-129207.jpg);
  background-size: 130%;
  background-position: -20% 55%;

  height: 75vh;

  @media (max-width: 769px) {
    background-color: #010101;
    background-image: none;
    height: inherit;
  }
}

.bannerText {
  padding-bottom: 2rem;
  width: 30rem;
}

.whoImage {
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/pexels-kaboompics-com-6347.jpg);
  background-size: cover;
  background-position: center center;
  height: 8.875rem;
}

.products {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (max-width: 769px) {
    flex-direction: column;
    align-items: center;
  }
}

.productPic {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 200px;
}

//Product images
#picDark {
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/pexels-igor-haritanovich-1695052.jpg);
}
#picAromatic {
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/pexels-igor-haritanovich-1695052.jpg);
  background-size: 100%;
}
#picExotic {
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/pexels-igor-haritanovich-1695052.jpg);
  background-size: 140%;
}

footer {
  background-color: #1e1e1e;

  > h4 {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 2rem;
  }
  > p {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.1719rem;
  }
}

.socials {
  display: flex;
  padding-bottom: 2rem;
}

.instagram {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/instagram-logo-1155105798346ilx9kcc6.png);
  background-size: cover;
  border-radius: 6px;
}

.facebook {
  width: 2.0681rem;
  height: 1.5rem;
  background-image: url(/coffeeshop/practiseproject/coffeeShop/images/facebook-logo-484.png);
  background-size: cover;
}
