// font sizes
$font-xsmall: 1rem; //16px pienin alateksti
$font-small: 1.25rem; //20px pieni leipäteksti
$font-medium: 2rem; //32px tuote otsikko
$font-large: 3rem; //48px otsikot h2
$font-xlarge: 4rem; //64px otsikko h1
